html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 2rem 6rem;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
